<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'result' %}">
      <input type="text" name="searchWord" />
      <button type="submit">검색</button>
    </form>
    {% for phone in phones%}
    <h3>이름: {{phone.name}}</h3>
    <p>전화번호: {{phone.phone_num}}</p>
    <hr />
    <br />
    {% empty %}
    <p>해당 검색어와 관련된 전화번호가 없습니다.</p>
    {% endfor %}
  </body>
</html>
