<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:main' %}">메인페이지로 돌아가기</a>
    <br/>
    <br/>
    {% if request.user.is_authenticated %}
    nickname: {{ request.user.nickname }}
    <br/>
    <br/>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <hr/>

    <h2>{{ post.title }}</h2>
    <br/>
    <h3>{{ post.content }}</h3>
    <br/>
    {% if post.image %}
        <img width="320" height="240" src="{{ post.image.url }}">
    {% endif %}
    {% if post.video %}
        <video width="320" height="240" controls>
            <source src="{{ post.video.url }}" type="video/mp4">
        </video>
    {% endif %} 
    <br/>
    <h4>{{ post.created_at }}</h4>
    <h5>{{ post.anonymouse }}</h5>

    {% if request.user == post.author %} <!--여기 띄어쓰기 잘 하기-->
    <a href="{% url 'posts:update' post.id %}">수정하기</a>
    <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
    {% endif %}

    <!-- 공감(좋아요), 스크랩 개수 -->
    <p>
    공감 : {{ post.like.count }}개
    스크랩 : {{ post.scrap.count }}개
    </p>

    <!-- 공감 버튼 -->
    <form action="{% url 'posts:like' post.id %}" method="post" style="display: inline;">
    {% csrf_token %}
    {% if request.user in post.like.all %}
    <button type="submit">공감 취소</button>
    {% else %}
    <button type="submit">공감</button>
    {% endif %}
    </form>

    <!-- 스크랩 버튼 -->
    <form action="{% url 'posts:scrap' post.id %}" method="post" style="display: inline;">
    {% csrf_token %}
    {% if request.user in post.scrap.all %}
    <button type="submit">스크랩 취소</button>
    {% else %}
    <button type="submit">스크랩</button>
    {% endif %}
    </form>

    <hr/>
    <h4>댓글</h4>
    {% for comment in comments %}
    {{ comment.anonymouse }}: {{ comment.content }} - {{ comment.created_at }}
    {% if request.user == comment.author %}
    <a href="{% url 'posts:delete-comment' comment.id %}">삭제하기</a>
    {% endif %}
    <br/>

    {% empty %}
    댓글이 없습니다.
    {% endfor %}
    <br/>
    <br/>
    <form method="POST" action="{% url 'posts:create-comment' post.id %}">
        {% csrf_token %}
        댓글
        <input type="text" name="content"/>
        <input type="submit" value="작성"/>
        <input type="checkbox" name="is_anonymouse"/>익명
    </form>
</body>
</html>

