<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if request.user.is_authenticated %} nickname: {{request.user.nickname}}
    <br />
    <br />
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr />
    <br />
    <form method="POST" action="{% url 'posts:create' %}">
      {% csrf_token %}
      <input type="text" name="title" placeholder="제목 입력" /> <br />
      <textarea name="content" rows="2" placeholder="본문 입력"></textarea>
      <br />
      <br />
      <input type="checkbox" name="is_anonymous" />익명
      <button type="submit">작성 완료</button>
    </form>
    {% else %}
    <br />
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    <hr />
    <br />
    {% for post in posts %}
    <h2><a href="{% url 'posts:detail' post.id %}">{{post.title}}</a></h2>
    <h3>{{post.content}}</h3>
    <h3>{{post.created_at}}</h3>
    {% if request.user == post.author %}
    <a href="{% url 'posts:update' post.id %}">수정하기</a>
    <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
    <hr />
    {% endif %} {% empty %} 등록된 글이 없습니다. <br />
    {% endfor %}
  </body>
</html>
