<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 카테고리 링크(비밀/새내기/자유 게시판) -->
    {% for category in categories %}
      <a href="{% url 'posts:category' category.slug %}">{{ category.name }}</a>
    {% endfor %}
    <br/>
    <br/>

    <!-- 로그인 한 경우 -->
    {% if request.user.is_authenticated %} 
      nickname: {{ request.user.nickname }} 
      <br />
      <br />
      <a href="{% url 'accounts:mypage' %}">마이페이지</a>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
      <br/>
      <hr/>

      <!-- 카테고리별 최신 글 4개 정렬 -->
      {% for category, posts in category_posts %}
        <h2><a href="{% url 'posts:category' category.slug %}">{{ category.name }}</a></h2>
        <br/>

        {% for post in posts %}
          <a href='{% url 'posts:detail' post.id %}'>{{ post.title }}</a>
          <br/>
        {% empty %}
          작성된 글이 없습니다
        {% endfor %}
        <br/>
      {% endfor %}

    <!-- 로그인하지 않은 경우 -->
    {% else %}
      <br />
      <br />
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
      <hr/>
    {% endif %}
  </body>
</html>
