<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'phone:result' %}">
      <input type="text" name="searchWord" />
      <button type="submit">검색</button>
    </form>

    <a href="{% url 'phone:create' %}">새 번호 등록</a>

    {% for phone in phones%}
    <a href="{% url 'phone:detail' phone.id %}"><h3>{{phone.name}}</h3></a>
    <p>전화번호: {{phone.phone_num}}</p>
    <a href="{% url 'phone:update' phone.id %}">수정</a>
    <a href="{% url 'phone:delete' phone.id %}">삭제</a>
    <hr />
    <br />
    {% empty %}
    <p>해당 검색어와 관련된 전화번호가 없습니다.</p>
    {% endfor %}
  </body>
</html>
