<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>글 수정</h1>
    <form method="POST" action="{% url 'posts:update' posts.id %}">
      {% csrf_token %}
      <p>제목-<input type="text" value="{{ posts.title }}" name="title" /></p>
      <p>내용-<textarea name="content">{{ posts.content }}</textarea></p>
      <input type="submit" value="제출" />
    </form>
  </body>
</html>
