<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>장고 기초!! 파이팅합시다~~</h1>

    <h1>스터디 과제</h1>
    <h2>이름을 적어보세요!</h2>
    <form action="{% url 'wordcount:hello' %}">
      <input type="text" name="name" >
      <input type="submit" value="확인"></input>
      <!-- 제출 버튼은 input 대신 button 태그 사용이 더 좋음 -->
    </form>

    <a href="{% url 'wordcount:word_count' %}">wordcount 하러 가기</a>
  </body>
</html>
